Source: ros-lyrical-rmf-visualization-msgs
Section: misc
Priority: optional
Maintainer: yadu <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-builtin-interfaces, ros-lyrical-rosidl-default-generators, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/rmf_visualization_msgs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-rmf-visualization-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-builtin-interfaces, ros-lyrical-rosidl-default-runtime, ros-lyrical-ros-workspace
Description: A package containing messages used for visualizations
